.paper-bg {
  background: no-repeat url(//s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png)
    0 0;
  background-color: #ebebeb;
  background-repeat: repeat;
}

.infopoint {
  position: relative;
  display: inline-block;
}

